.page-about .sub-title {
  font-weight: 500;
  font-size: 30px;
  @apply my-8;
}

.page-about .sub-desc {
  font-size: 15px;
  line-height: 1.8;
  color: #7A7A7A;
}

.page-about b {
  color: #000;
  margin-bottom: 10px;
}

.page-about .wechat-profile {
  width: 200px;
  height: 200px;
  margin-top: 20px;
}
